In [3]:
#import all tools for project
import requests
import pandas as pd
from bs4 import BeautifulSoup
import json
import numpy as np
import datetime
import matplotlib.pyplot as plt
import re
from time import sleep

# Determining the Frequency of Gendered Language

### References
Scikit-learn: Machine Learning in Python, Pedregosa et al., JMLR 12, pp. 2825-2830, 2011.

Dr. Mattei, Tulane University. SimpleText Notebook. 2020. 
Bo Pang and Lillian Lee, A Sentimental Education: Sentiment Analysis Using Subjectivity Summarization Based on Minimum Cuts, Proceedings of ACL 2004.

In [11]:
#Import CSV containing mass amount of scraped reviews for analysis
hg = pd.read_csv("./revs_gendered.csv")
hg.dropna(inplace = True)
hg.columns = ['Review', 'Gender']
hg

                                                 Review  Gender
0     Exelent he really care about you, he is very p...    Male
1     Dr. A-Rahim was very knowledgeable about my lo...    Male
2     Horrible physician treats you like a kid. Pts ...  Female
3     Dr Aaberg has been a very good dr for my husba...    Male
4     Dr. Aaberg has been treating my macular degene...    Male
...                                                 ...     ...
8889  Very helpful and sincere about my pain needs! ...    Male
8890  Several of my children see Dr. Zach, she is a ...  Female
8891  Amazing Pediatric Neurologist stays up to date...  Female
8892  Dr. Zach has been a Godsend for our daughter! ...  Female
8893  Very friendly doctor and not pushy. Makes you ...  Female

[8894 rows x 2 columns]

In [13]:
letters = pd.read_csv("./letters_tidied.csv")
letters.dropna(inplace = True)
letters.columns = ['Review', 'Gender']
letters['Gender'] = letters['Gender'].replace(0.0, 'Female')
letters['Gender'] = letters['Gender'].replace(1, 'Male')
letters

                                               Review  Gender
0   dear review committee members,\r\n\r\nit is wi...  Female
1   this letter addresses some of my thoughts and ...  Female
2   I am writing this letter to recommend REDACTED...    Male
4   it is my sincere pleasure to nominate dr. REDA...  Female
5   i am writing to strongly recommend REDACTED RE...    Male
..                                                ...     ...
92  I am writing to highly recommend that you acce...  Female
93  i am writing to highly recommend that you acce...  Female
94  i am writing to highly recommend that you acce...  Female
95  \r\ni am writing to highly recommend that you ...  Female
96  To the Graduate Program Admissions committee:\...  Female

[89 rows x 2 columns]

In [20]:
# concatenate two dataframes (because i can't figure out whihc weight i'm supposed to change lolz)

allData = pd.concat([hg, letters])
allData

                                               Review  Gender
0   Exelent he really care about you, he is very p...    Male
1   Dr. A-Rahim was very knowledgeable about my lo...    Male
2   Horrible physician treats you like a kid. Pts ...  Female
3   Dr Aaberg has been a very good dr for my husba...    Male
4   Dr. Aaberg has been treating my macular degene...    Male
..                                                ...     ...
92  I am writing to highly recommend that you acce...  Female
93  i am writing to highly recommend that you acce...  Female
94  i am writing to highly recommend that you acce...  Female
95  \r\ni am writing to highly recommend that you ...  Female
96  To the Graduate Program Admissions committee:\...  Female

[8983 rows x 2 columns]

In [15]:
import sklearn
import nltk
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [21]:
# Vectorize hg
vec = TfidfVectorizer(min_df = 2, 
                      max_df = 0.98, 
                      ngram_range=(1,1)) # play with min_df and max_df

reviews = allData['Review']

# transform this into a sparse vector!
vec.fit(reviews)
tf_idf_sparse = vec.transform(reviews)
tf_idf_sparse

#only 222 unique words due to min_df 0.03 --> change to 2, maybe change to 5 (could get meaningless words)

<8983x8350 sparse matrix of type '<class 'numpy.float64'>'
	with 341059 stored elements in Compressed Sparse Row format>

In [22]:
revs = dict(zip(allData.Review, allData.Gender))

In [23]:
# create list of cleaned, stemmed adjectives, for later analysis. 

vect = CountVectorizer()
vect.fit(revs)
words = vect.get_feature_names()

adjectives = []

stop_words = list(set(stopwords.words('english')))

# remove stopwords 
stopped = [w for w in words if not w in stop_words]
    
# parts of speech tagging for each word 
pos = nltk.pos_tag(stopped)

# make a list of  all adjectives identified by the allowed word types list above
for w in pos:
    if w[1][0] == 'J':
        adjectives.append(w[0].lower())

In [24]:
print(tf_idf_sparse[0, :])

  (0, 8308)	0.18087671068924527
  (0, 7963)	0.14515562205290422
  (0, 7385)	0.35561253933942405
  (0, 6038)	0.27852469718081846
  (0, 5793)	0.2373437823422639
  (0, 3983)	0.12189971460612926
  (0, 3374)	0.2636511185535702
  (0, 2703)	0.6446316283629488
  (0, 2326)	0.10587678031682882
  (0, 1571)	0.28720820096031574
  (0, 1248)	0.20441648315214442
  (0, 519)	0.0869707345247959
  (0, 197)	0.2070634329049377

In [25]:
# We can now use this to classify the reviews!! but we need to test/train split again.

# Split..
X_train, X_test, y_train, y_test = train_test_split(tf_idf_sparse, 
                                                    allData['Gender'], 
                                                    test_size=0.2)

In [26]:
logisticRegr = LogisticRegression(max_iter=100000, class_weight='balanced') 
model = logisticRegr.fit(X_train, y_train)

/Users/laurensussman/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [27]:
logisticRegr.classes_

array(['Female', 'Male'], dtype=object)

In [28]:
logisticRegr.coef_[:,0]

array([0.23844634])

In [29]:
# Make a dataframe with the words, coefficients, and classes...
recs = []

for w,i in vec.vocabulary_.items():
    recs.append([str(w)] + list(logisticRegr.coef_[:,i]))
# If we only have one class then we only get weight..
# df_weights = pd.DataFrame(tripples, columns=['word']+list(logisticRegr.classes_))
df_weights = pd.DataFrame(recs, columns=['word', 'weight'])

In [30]:
df_weights.sort_values('weight', ascending=False)[:25]

             word     weight
1              he  13.403489
86            his   8.171164
85            him   7.210929
329       surgery   3.081185
88          staff   1.884345
922           man   1.733318
1362       mother   1.703119
13            was   1.433253
87    outstanding   1.277648
411          pain   1.252576
7716       yacoub   1.225893
547          knee   1.220427
223       surgeon   1.191208
986   informative   1.175164
11         thanks   1.073329
564       helpful   1.040781
253            we   1.034540
327        before   1.008931
67           good   0.992073
1114     arrogant   0.981111
541      recovery   0.952328
68           kind   0.937958
7154         raab   0.926931
7669        wacks   0.921654
4838        faber   0.921097

In [31]:
#print only adjectives
#male adjectives
maleAdjectives = df_weights[df_weights['word'].isin(adjectives)].sort_values('weight', ascending=False)[:25]
maleAdjectives

              word    weight
87     outstanding  1.277648
67            good  0.992073
1114      arrogant  0.981111
4838         faber  0.921097
20           great  0.909375
680     respectful  0.907518
1247         total  0.907418
1058       pleased  0.889486
2303      kindness  0.797820
111           much  0.676001
7525         udall  0.643300
303        medical  0.637230
1210         quick  0.621777
4199      ambrosio  0.598224
2086      fabulous  0.586644
894            leg  0.575976
784       terrible  0.569922
7532         udani  0.567520
725           fine  0.539983
697      fantastic  0.532593
265         severe  0.528332
1492  knowledgable  0.525536
250      courteous  0.522389
2328      suffered  0.521651
3283        rudest  0.512363

In [32]:
df_weights.sort_values('weight', ascending=True)[:25]

                word     weight
43               she -13.988681
397              her -10.972279
4782              ma  -2.877061
7812        redacted  -2.123760
6156         kabbash  -1.950370
4510            eady  -1.878422
304   unprofessional  -1.461373
589            woman  -1.454312
6970          pabolu  -1.382532
2388          breast  -1.321711
975            hours  -1.253578
7334          saadai  -1.237069
768            given  -1.212200
420             love  -1.189403
7741          yacoob  -1.167267
14     knowledgeable  -1.142530
3549        cabalona  -1.094032
10     compassionate  -1.080742
378             talk  -1.065398
701            smart  -1.043758
615              lot  -1.039728
4057         alessio  -1.036221
996          respect  -1.035996
1282        requests  -1.017893
693          primary  -1.014789

In [33]:
#female adjectives
femaleAdjectives = df_weights[df_weights['word'].isin(adjectives)].sort_values('weight', ascending=True)[:25]
#maybe take out adjective specification
#vocabulary being pruned down too aggressively
femaleAdjectives

                word    weight
4510            eady -1.878422
304   unprofessional -1.461373
14     knowledgeable -1.142530
3549        cabalona -1.094032
701            smart -1.043758
693          primary -1.014789
832              new -0.939429
482        wonderful -0.934203
2649    pediatrician -0.906382
5596             gal -0.856504
4174        ambrosia -0.853791
135             best -0.851978
3152      insightful -0.847029
19             spent -0.796173
1456           sweet -0.787184
2985          lovely -0.706534
1318          annual -0.668445
2853          social -0.657356
2708           nasty -0.652222
7884        academic -0.625570
4370         minimum -0.617331
1315           least -0.617010
7789          andrew -0.593809
1411            hear -0.592324
797          finding -0.589513